/**
 * Fix: You could also consider using a more descriptive class name for 
 * the .grid_item selector, such as .feature-card, to make it easier to understand its purpose.
 */
/**
 * Feature item
 */
.grid_item {
	/* FlexBox */
	display: flex;
	flex-direction: column;
	align-items: center;/*center horizontal*/
	justify-content: center; /*center vertically*/
	padding: 4px;
	/*Styling*/
	background-color: var(--clear-color); /* D8D8D8 background-color: midnightblue;*/
	border: var(--border-style);
	border-radius: 15px;
}
/**
 * Item Icon - active
 */
.grid_item_icon {
	width: 48px;
	height: 48px;
	margin: 24px 24px 12px; /* Represents top, right, and bottom margin, respectively */
	padding: 8px;
	border-radius: 50%;
	/* Styling */
	border: 4px solid var(--accent-color);
	background-color: var(--accent-color);
}
/**
 * Item Icon SVG - active
 */
.grid_item_icon .icon {  
	width: 100%;
	/* Flex-box */
	display: flex;
	justify-content: center;
	/* Styling */
	filter: var(--primary-filter); 
}
/**
 * Item icon ⚠️️ inactive ⚠️️ 
 */
.grid_item#inactive .grid_item_icon {
	border-color: var(--accent-color); 
	background-color: var(--accent-color); 
}
/**
 * Item icon - SVG ⚠️️ inactive
 */
.grid_item#inactive .grid_item_icon .icon {
	filter: var(--primary-filter);
}
.grid_item:hover .icon {
	opacity: 1.0;
}
/**
 * Title-text for feature item
 */
.grid_item_title {
	background-color: var(--debug-bg-28); /*debug*/
	padding: 4px;
	/* Styling */
	font: var(--text-md-bold);
	color: var(--primary-lower);
	text-align: center;
}
/**
 * Description text for feature item
 */
.grid_item_text {
	padding: 4px;
	/* Styling */
	background-color: var(--debug-bg-14); /*debug*/
	/*Text*/
	font: var(--text-xxs);
	color: var(--primary-medium);
	text-align: center;
}
.grid_item:hover .grid_item_text {
	color: var(--primary-medium);
}
/**
 * Makes the entire grid item press-able
 */
 a.grid_item {
	text-decoration: none; /* Removes underline on elements */
}
.grid_item:hover .grid_item_link {
	text-decoration: underline; /* Adds underline on elements */
	color: var(--primary-low);
}
/**
 * Link
 */
 .grid_item_link {
	background-color: var(--debug-bg-24); /*debug*/
	padding: 4px;
	text-decoration: none;
	font: var(--text-xs);
	color: var(--accent-color); /* Use CSS variable for link color */
}