@import "page/product.css";
@import "page/feature.css";
@import "page/compare.css";
@import "page/faq.css";
@import "page/price.css";
@import "page/download.css";

@media screen and (max-width: 600px) {
    /**
     * Sub text of each page
     */
    .header_text {
        padding-left: 0px;
        padding-right: 0px;
    }
    .header_title br {
        display: none;
    }
}
