<!-- Used as the header element in all pages of the site -->
<div class="header">
	<!-- Site title -->
	<div class="header_item" id="title">
		<!-- Site logo -->
		<a href="{{ '/' | prepend: site.baseurl }}" class="logo_img">
			<img src="{{ '/assets/svg/logo.svg' | prepend: site.baseurl }}" class="logo_img">
		</a>
		<a href="{{ '/' | prepend: site.baseurl }}" id="title_text">Sentry</a><!-- Fix: get this from config.yml? -->
	</div>
	<!-- Site Navigation -->
	<div class="header_item" id="nav"><!-- ⚠️️ Fix: Name this better? -->
		{% include component/header/nav.html %}<!-- We use element as include, as we reuse it other places, like the footer -->
		<!-- Fix: ⚠️️ Use a more speccific id to link to? -->
		<a href="#bottom_menu" class="nav_item" id="mobile_menu">Menu</a><!-- This is hidden for non-mobile screens, and used as a menu accessor for mobile screens, as mobiles cant fit the nav element vertically, the menu item link redirects to the footer where nav is vertically stacked -->
	</div>
</div><!-- Header end -->