<!-- We dynamically generate these -->
<!-- ⚠️️ Fix: link hover area being too wide? -->
<!-- ⚠️️ Fix: Do ul li elements here -->
<!-- ⚠️️ Fix: we could also add additional ways of filtering -->
{% assign newArr = ''|split:'' %} <!-- We need to filter the pages to only include pages with title -->
{% for p in site.pages %}<!-- filters pages that doesn't have title -->
    {% if p.title != null %} <!-- Must have title in front matter or else it's not a valid page -->
        {% assign newArr = newArr | push: p %} <!-- Append the value of the variable `p` to the end of the array `newArr` -->
    {% endif %}
{% endfor %}
{% for p in newArr %} <!-- Makes links of site pages -->
    {% if p.title != null && p.title != "" %} <!-- Must have title in front matter or else it's not a valid page -->
        <a href="{{ p.url }}" class="nav_item" {% if p.title == page.title or p.title == page.id %} id="active" {% endif %}>{{ p.title }}</a><!--  the or is hack to get around some pagination limitations etc -->
    {% endif %}
{% endfor %}