/**
 * Download item (icon, list, download-button)
 */
.dowload_item {
	background-color: var(--debug-bg-25); /*debug*/
	height: auto;
	padding: 24px 32px 12px; /* Sets padding to top/bottom and left/right */
	/* Flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	row-gap: 16px;/* Vertical space between items */
	/* Styling */
	background-color: var(--clear-color); 
	border-radius: 15px;
	border: var(--border-style); /*1px solid var(--primary-higher)*/
}
/**
 * Download item icon
 */
.download_icon {
	width: 64px; 
	height: 64px; 
	margin: 12px 0px; /* top/bottom and left/right */
	padding: 12px; /* internal padding */
	border-radius: 32px; 
	/* Styling */
	border: 4px solid var(--accent-color);
	background-color:var(--accent-color);
}
/**
 * Download item icon SVG
 */
.download_icon .icon {
	width: 100%;
	/* Flex */
	display: flex;
	justify-content: center;
	/* Style */
	filter: var(--primary-filter); 
}
/**
 * Download icon Colorize the ⚠️️ inactive ⚠️️  
 */
 .dowload_item#inactive .download_icon {
	border-color: var(--accent-color);  
	background-color: var(--accent-color); 
}
/**
 * Download icon SVG ⚠️️ inactive ⚠️️  
 */
.dowload_item#inactive .download_icon .icon {
	filter: var(--primary-filter);
}
/**
 * Download item Title
 */
.download_title {
	background-color: var(--debug-bg-16);/*debug*/
	margin: 0 0 6px 0; /* Sets margin to top/bottom and left */
	/* Styling */
	font: var(--text-xl-bold);
	color: var(--primary);
}
/**
 * Download item Text
 */
.download_text {
	background-color: var(--debug-bg-14);/*debug*/
	margin: 0 0 6px 0; /* Sets margin to top/bottom and left */
	/*Styling*/
	color: var(--primary-high);
	font: var(--text-xs);
}
/**
 * Emphazized text
 */
.download_text em {
	background-color: var(--debug-bg-4); /*debug*/
	font: var(--text-xs);
	color: var(--primary-low);
}
