/**
 * Download button (in the download-card)
 */
.dowload_item .download_button {
	margin: 12px 0 0 0; /* Represents margin for the top of the element */
	width: 100%;
	height: 48px;
	/* Flex */
	display: flex;
	justify-content: center;
	align-items: center;
	/* Style */
	text-decoration: none; /* Needed to avoid text decoration on sub elements, since the button is a link */
	background-color:var(--accent-color);
	border-radius: 8px;
	border: 4px solid var(--accent-color); 
}
/**
 * Download button Icon
 */
.dowload_item .download_button .download_button_icon {
	width: 24px;
	height: 24px;
	margin: 4px;
	padding: 3px;
	border-radius: 12px;
}
/**
 * Download button icon SVG
 */
.dowload_item .download_button .download_button_icon .icon {
	width: 100%;
	display: flex;
	justify-content: center;
	opacity: 0.8;
	filter: var(--primary-filter);
}
.dowload_item .download_button:hover .download_button_icon .icon {
	opacity: 1.0;
}
/**
 * Download button Text
 */
.dowload_item .download_button .download_button_text {
	color: var(--primary-lower);
	font: var(--text-xs);
	width: auto;
	text-decoration: none;
}
.dowload_item .download_button:hover .download_button_text {
	color: var(--primary); 
	text-decoration: underline;
}
/**
 * The text under the download button
 */
.dowload_item .dowload_button_context_text {
	padding-top: 0px;
	padding-bottom: 12px;
	font: var(--text-xxxs);
	color: var(--primary-high); 
	width: auto;
	text-align: center;
}
/**
 * Download button inactive (Not yet ready to download)
 */
/*.dowload_item#inactive .download_button {
	border-color: var(--primary-high);
	background-color: var(--bg-secondary-color);  
}*/
.dowload_item#inactive .download_button .download_button_icon {
	display: none;
}
