<!-- Feature grid item fix: rename to feature_item.html -->
<!-- fix: more descriptive class names for the div elements, such as feature-item, feature-icon, feature-title, and feature-text, -->
<a href="{{ feature.link }}" class="grid_item" id="{{feature.state}}"><!-- Feature item -->
	<div class="grid_item_icon"><!-- Feature icon -->
		<img src="assets/svg/{{feature.svg}}" class="icon">
	</div>
	<div class="grid_item_title"> <!-- Feature title -->
		{{feature.title}}
	</div>
	<div class="grid_item_text"> <!-- Feature text -->
		{{feature.text}}
	</div>
	<div class="grid_item_link">
		<div>Learn more</div>
	</div>
</a><!-- End of feature item -->