<!-- Used in the faq_page and support_page -->
<!-- Fix: more descriptive class names for the li element, such as faq-item, and for the child elements, such as faq-link, faq-question, faq-dropdown, faq-plus, faq-minus, and faq-answer, respectively. -->
<li class="expand" id="{{item.id}}"><!-- Fix: ⚠️️ Rename expand to item, or FAQ_item -->
	<a href="#{{item.id}}" class="top"> <!-- Link -->
		<h3 class="left"><!-- FAQ_question -->
			{{item.q}} <!-- FAQ_text -->
		</h3>
		<div class="right"><!-- Has dropdown buttons -->
			<span class="plus"> <!-- Dropdown indicator plus -->
				<img src="{{'/assets/svg/plus-circle.svg' | prepend: site.baseurl}}" class="icon">
			</span>
			<span class="minus"> <!-- Dropdown indicator minus -->
				<img src="{{'/assets/svg/minus-circle.svg' | prepend: site.baseurl}}" class="icon">
			</span>
		</div>
	</a>
	<div class="bottom"><!-- FAQ_answer -->
		{{item.a}} <!-- Expanded content, hidden by default -->
	</div>
</li><!-- End of item -->