/**
* Debug colors (change all these to rgba(0,0,0,0) to toggle off the colors)
* - Note: Use multi-cursor to toggle these on and off
* - Fix: maybe rename to debug-color-n ?
*/
:root {
    --debug-bg-1: Crimson; /*rgba(0,0,0,0);*/
    --debug-bg-2: DarkOrange; /*rgba(0,0,0,0);*/
    --debug-bg-3: DeepPink; /*rgba(0,0,0,0);*/
    --debug-bg-4: DodgerBlue; /*rgba(0,0,0,0);*/
    --debug-bg-5: FireBrick; /*rgba(0,0,0,0);*/
    --debug-bg-6: ForestGreen; /*rgba(0,0,0,0);*/
    --debug-bg-7: Fuchsia; /*rgba(0,0,0,0);*/
    --debug-bg-8: RebeccaPurple; /*rgba(0,0,0,0);*/
    --debug-bg-9: HotPink; /*rgba(0,0,0,0);*/
    --debug-bg-10: IndianRed; /*rgba(0,0,0,0);*/
    --debug-bg-11: LimeGreen; /*rgba(0,0,0,0);*/
    --debug-bg-12: Magenta; /*rgba(0,0,0,0);*/
    --debug-bg-13: MediumBlue; /*rgba(0,0,0,0);*/
    --debug-bg-14: OrangeRed; /*rgba(0,0,0,0);*/
    --debug-bg-15: Orchid; /*rgba(0,0,0,0);*/
    --debug-bg-16: Purple; /*rgba(0,0,0,0);*/
    --debug-bg-17: Red; /*rgba(0,0,0,0);*/
    --debug-bg-18: RoyalBlue; /*rgba(0,0,0,0);*/
    --debug-bg-19: SaddleBrown; /*rgba(0,0,0,0);*/
    --debug-bg-20: SeaGreen; /*rgba(0,0,0,0);*/
    --debug-bg-21: Sienna; /*rgba(0,0,0,0);*/
    --debug-bg-22: SkyBlue; /*rgba(0,0,0,0);*/
    --debug-bg-23: SpringGreen; /*rgba(0,0,0,0);*/
    --debug-bg-24: SteelBlue; /*rgba(0,0,0,0);*/
    --debug-bg-25: Tomato; /*rgba(0,0,0,0);*/
    --debug-bg-26: Turquoise; /*rgba(0,0,0,0);*/
    --debug-bg-27: Violet; /*rgba(0,0,0,0);*/
    --debug-bg-28: SeaGreen; /*rgba(0,0,0,0);*/
    --debug-bg-29: YellowGreen; /*rgba(0,0,0,0);*/
    --debug-bg-30: DarkViolet; /*rgba(0,0,0,0);*/
}