/**
 * We can toggle these on mobile etc
 * - Note: Adjust things to see what works etc
 */
:root {
    --default-page-padding: 48px;
    --default-page-padding-top: 96px;
    --default-header-padding-top-bottom: 8px;
    --default-header-text-padding-top-bottom: 8px;
    --default-header-text-padding-left-rigth: 20%;
}