<!-- Used as the footer element in all pages of the site -->
<div class="footer" id="bottom_menu">
	<div class="footer_item_container">
		{% include component/footer/footer_about.html %}<!-- about -->
		{% include component/footer/footer_content.html %}<!-- content -->
		{% include component/footer/footer_legal.html %}<!-- legal -->
		{% include component/footer/footer_newsletter.html %}<!-- newsletter -->
	</div><!-- End of footer_item_container -->
	<div class="contextual_text"> <!-- text-box bellow the footer -->
		{{site.data.context.footer}}
	</div>
</div><!-- End of footer -->