@media screen and (max-width: 600px) {
	/* About page*/
	.page#about {
		background-color: var(--debug-bg-8);
		padding: 32px 0;
	}
	/**
	 * Header
	 */
	.page#about h1 {
		padding: 24px 0;
	}
	.page#about h3 {
		padding: 24px 0 12px; /* top, right/left, bottom */
	}
	/**
	 * Bread text
	 */
	.page#about p {
		padding-bottom: 24px;
		font: var(--text-xs);
		line-height: 1.4;
	}
}
