@media screen and (max-width: 600px) {
	/**
	 * Blog grid ontainer
	 */
	.blog_grid_container {
		background-color: var(--debug-bg-6);
		height: auto;
		width: 100%;
		/* GridElement */
		display: grid;
		grid-template-columns: repeat(1, 100%); /* Number of items per page is set in _config */
		grid-gap: 24px 12px; /* Represents the horizontal and vertical gap between grid columns */
	}
}
