/**
 * Compare
 * Fix: we should only show the first 3 columns for mobile. or selected items. etc
 */
@media screen and (max-width: 600px) {
	/**
	 * Features item / top left
	 */
	.table_column:first-child .row_item:first-child {
		font: var(--text-xxs);
	}
	/**
    * We hide chrome and bitwarden to make space for mobile website etc
    */
   .table_column:nth-child(5), .table_column:nth-child(6) {
		display: none;
	}
	/**
	 * Features value item / top items
	 */
	.row_item:first-child { /* top row */
		font: var(--text-xxxs);
	}
	/**
    * row-item
    */
	.row_item {
		font: var(--text-xxxs);
	}
	/**
	 * Features itm / left
	 */
	.table_column:first-child .row_item {
		text-align: center;
	}
	/**
	 * Bottom left
	 */
	.table_column:first-child .row_item:last-child {
		font: var(--text-xxs-bold); /* font size and weight */
	}
	/**
	 * bottom row
	 */
	.row_item:last-child {
		text-align: center;
	}
}
