/**
 * FAQ
 */
@media screen and (max-width: 600px) {
	/**
     * FAQ container
     */
   .faq_container {
   		column-gap: 12px;
   		padding-top: 12px;
   }
	ul.faqs li {
		background-color: var(--debug-bg-17);
		padding: 16px 12px; /* Represents padding for the top and bottom of the element */
	}
	ul.faqs li .top .left {
		 background-color: var(--debug-bg-18); /*debug*/
	}
	ul.faqs li .top .right {
		background-color: var(--debug-bg-19); /*debug*/
	}
	ul.faqs li .bottom {
		 background-color: var(--debug-bg-20);
	}
}
