/**
 * Feature
 */
@media screen and (max-width: 600px) {
  /**
    * Feature grid
    * - Fix: ⚠️️ Figure out some better sizing, quick hack
    */
  #feature_grid {
     background-color: var(--debug-bg-19);
     grid-template-columns: repeat(2, calc(50vw - 4px - 12px));/* Horizontal */
     grid-template-rows: repeat(4, calc(50vw - 4px - 12px)); /* Vertical was 6 */ /* align-content: space-around; */
     justify-content: space-between; /* Grows space between when size change */
     grid-column-gap: 4px;/* Horizontal gap */
     grid-row-gap: 12px;/* Vertical gap */
  }
  /**
  * Item Icon - active
  */
  .grid_item_icon {
    margin-top: 4px; 
    margin-bottom: 4px; 
    /*padding: 2px;*/ 
  }
  /**
  * Title-text for feature item
  */
  .grid_item_title {
    font: var(--text-xxs-bold);
    padding: 4px;
  }
  /**
  * Description text for feature item
  */
  .grid_item_text {
    font: var(--text-xxxxs);
    padding: 4px;
  }
  /**
  * Link
  */
  .grid_item_link {
    padding: 4px;
    font: var(--text-xxxs);
  }
}