/**
 * Feature
 */
@media screen and (max-width: 600px) {
  /**
    * Feature grid
    * - Fix: ⚠️️ Add the new grid code
    */
  #feature_grid {
     background-color: var(--debug-bg-19);
     grid-template-columns: repeat(2, 250px);/* Horizontal */
     grid-template-rows: repeat(4, 250px); /* Vertical was 6 */ /* align-content: space-around; */
     justify-content: space-between; /* Grows space between when size change */
     grid-column-gap: 12px;/* Horizontal gap */
     grid-row-gap: 24px;/* Vertical gap */
  }
}