/**
 * Price
 */
@media screen and (max-width: 600px) {
	/*.page#pricing_page {
		padding-top: 16px;
	}*/
	.price_container {
		row-gap: 24px; /*Vertical gap space*/
		flex-direction: column;
		width: 100%;
	}
	.price_item {
		background-color: var(--debug-bg-12);
		width: 100%;
	}
}