<!-- Footer -->
<footer>
    <!-- Left -->
    <div class="left">
        <p>&copy; 2024 Sentry.co - All rights reserved.</p>
    </div>
    <!-- Right -->
    <div class="right">
        <!-- Social media icon container -->
        <ul class="social-media-icons">
            <li class="icon" id="twitter">
                <a href="https://x.com/sentrydotco">
                    <img src="{{ '/assets/svg/SoMeIcons/twitter.svg' | prepend: site.baseurl }}" alt="Twitter">
                </a>
            </li>
            <li class="icon" id="instagram">
                <a href="https://instagram.com/sentrydotco">
                    <img src="{{ '/assets/svg/SoMeIcons/instagram.svg' | prepend: site.baseurl }}" alt="Instagram">
                </a>
            </li>
            <li class="icon" id="linkedin">
                <a href="https://www.linkedin.com/company/sentry-co/">
                    <img src="{{ '/assets/svg/SoMeIcons/linkedin.svg' | prepend: site.baseurl }}" alt="LinkedIn">
                </a>
            </li>
            <li class="icon" id="github">
                <a href="https://github.com/sentryco">
                    <img src="{{ '/assets/svg/SoMeIcons/github.svg' | prepend: site.baseurl }}" alt="GitHub">
                </a>
            </li>
        </ul>
    </div>
</footer>