<!-- has meta-data, css and js-scripts, head is included in every page -->
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- ⚠️️ What does this do again? -->
	<!-- Meta-data -->
	<meta name="keywords" content="Credential-manager, password-manager, passwords, credentials, authentication, self-so, open-source, privacy, security, encryption">
	<meta name="author" content="Sentry">
	<meta name="description" content="Offline credential manager"><!-- ⚠️️ Might not be needed as we define it in config.yml too -->
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title><!-- use site title if page title is not available -->
	<!-- CSS -->
	<link rel="stylesheet" href="{{ '/css/site.css' | prepend: site.baseurl }}"><!--  we prepend base url so we have a common root -->
	<!-- script -->
	{% include component/script.html %}<!-- We have to reference relativly to root of _includes -->
</head>
