@media screen and (max-width: 600px) {
	#features #feature-container .feature-box {
	   width: 100%;
	}
	#features #feature-container .feature-box {
		width: 100%;
	}
	#features #feature-container .feature-box .icon {
		width: 100%;
		display: flex;
	   justify-content: center;
		padding-left: 0px;
	   padding-right: 0px;
	}
	#features #feature-container .feature-box h3 {
	   text-align: center;
		padding-left: 0px;
	}
	#features #feature-container .feature-box p {
	   text-align: center;
		padding-left: 0px;
		width: 100%;
	}
}
