@media screen and (max-width: 600px) {
	#link_container {
		padding: 48px;
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 72px;
	}
	#link_container a {
		text-align: center;
		padding: 24px;
		padding-left: 12px;
		padding-right: 12px;
		font-size: 22px;
		float: left;
		clear: both;
		width: 100%;
	}
}
