@media screen and (max-width: 600px) {
	#qa ul.faqs li .top .left {
		font-size: 24px;
	}
	#qa ul.faqs li .top .right {
		font-size: 24px;
	}
	#qa ul.faqs li .bottom {
		font-size: 18px;
		line-height: 24px;
	}
}
