@media screen and (max-width: 600px) {
	/*Top - slogan*/
	#header_subtitle {}
	#download_container {
		flex-direction: column;
		width: 100%;
		gap: 12px;
		padding: 12px;
		padding-top: 24px;
		padding-left: 24px;
		padding-right: 24px;
	}
	.download_item {
	   width: 100%;
		margin: 0px;
	}
}
