/**
 * Download button on the top of the front page
 * Fix: ⚠️️ rename to product_download.css?
 * Fix: ⚠️️ move to product folder
 */
#download_container {
	width: auto;
	height: auto;
	margin: 48px 0 24px; /* Represents top, left, and bottom margin */ 
	/* FlexBox */
	display: flex;
	align-items: center;
	flex-direction: column;
}
/**
 * Download button
 * - Fix: ⚠️️ Since this is almost the same code as other download-buttons, maybe reuse some attributes?
 */
#download_container .download_button {
	width: 300px;
	height: 48px;
	/*FlexBox*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*Styling*/
	background-color: var(--accent-color); /* Use CSS variable for background color */
    border-radius: 8px;
	border: 4px solid var(--accent-color); /* Border style with 4px width and solid border style using CSS variable for border color */
}
/**
 * Background of the icon
 */
#download_container .download_button .download_button_icon {
	width: 32px;
	height: 32px;
	margin: 4px;
	padding: 6px;
	/* Styling */
	border-radius: 16px;
}
/**
 * Download button icon svg
 */
#download_container .download_button .download_button_icon .btn_icon {
	width: 100%;
	/* FlexBox */
	display: flex;
	justify-content: center;
	/* Styling */
	opacity: 0.8;
	filter: var(--primary-filter);
}
#download_container a.download_button:hover .btn_icon {
	opacity: 1.0;
}
/**
 * Download button text
 */
#download_container a.download_button .download_button_text {
	width: auto;
	/* Styling */
	color: var(--primary-lower); /* Use CSS variable for text color */
	font: var(--text-xs); /* Use CSS variable for font family */
}
/**
 * Hack to get rid of text-decoration when link is the entire btn
 */
#download_container a {
	text-decoration: none;
}
#download_container a.download_button:hover .download_button_text {
	color: var(--primary); /* Use CSS variable for text hover color */
	text-decoration: underline;
}
/**
 * Text bellow dowload button
 */
#download_container .download_text {
	width: auto;
	padding-top: 16px;
	/* Styling */
	text-align: center;
	font: var(--text-xxs);
	color: var(--primary-high); /* Use CSS variable for text color */
}
