@import "product_video.css";
@import "product_videobox.css";
@import "product_download.css";
/* Fix: You could also consider using a more descriptive ID name for the #videos container, such as video-container, to make it easier to understand its purpose.*/ 
/**
 * Video / demo view
 * - Fix ⚠️️ product.css
 */
.page#product_page {
	background-color: var(--debug-bg-19); /* debug */
	padding-top: 0px;/* We don't want spacing in the first page item */
}
/**
 * Has video container etc
 * Fix: ⚠️️ rename to videos_container or something?
 */
#videos {
	background-color: var(--debug-bg-16); /*debug*/
	padding-top: 24px;
	width: 100%;
	/* FlexBox */
	display: flex;
	flex-direction: row;
	column-gap: 24px;
	justify-content: space-around;
}
