/**
 * Add media queries for responsiveness
 * when the screen is XXXpx wide or less, stack the links on top of each other
 */
@media screen and (max-width: 600px) {
	.page#four  {
		text-align: center;
		margin: auto;
		width: 100%;
	}
	.page#four .contentcontainer {
		width: 100%;
		height: calc(100% - 200px);
	}
	.page#four #downloadbox { /* orange pale box */
		width: calc(100% - 40px);
	}
	.page#four .downloadsection { /* Download section */
		/*background-color: blue;*/
		width: calc(100% - 40px);
	}
	.page#four #downloadparagraph {
		font-size: 20px;
	}
	.page#four .pagelink {
		width: calc(100% - 40px);
		margin: auto; /*quick hack*/
	}
}
