/**
 * Add media queries for responsiveness
 * when the screen is XXXpx wide or less, stack the links on top of each other
 */
@media screen and (max-width: 600px) {
	.page#one #maincontent {
		/*background-color: purple;*/
		width: 100%;
		height: calc(100% - 120px);/*- header + footer*/
	}
	.page#one #maincontent #mainleft {
		width: calc(100% - 40px);
		/*height: 100%;*/
	}
	.page#one #maincontent #mainslogan {
		font-size: 44px;
		line-height: 50px;
		margin-top: 0px;
		padding: 0px 0px;
	}
	.page#one #maincontent #mainsubslogan { /* Sub-headline */
		font-size: 24px;
		line-height: 34px;
		padding: 40px 0px;
	}
	.page#one #maincontent #mainright {
		display: none;
		/*background-color: red;
		width: 0px;
		height: 0px;*/
	}
	/*.page#one #maincontent #mainright #devicevideo {
		display: none;
		background-color: blue;
		width: 0px;
		height: 0px;
	}*/
	.page#one .pagelink {
		width: calc(100% - 40px);
		margin: auto; /*quick hack*/
	}
}
