/**
 * Add media queries for responsiveness
 * when the screen is XXXpx wide or less, stack the links on top of each other
 */
@media screen and (max-width: 600px) {
	.header { /* This is the header for each page, except first page, first page is in header.css*/
		/*height: 100px;*/
		font-size: 32px;
		width: 100%;
	}
	.subheader {
		width: calc(100% - 40px);
		font-size: 24px;
	}
	.pagelink {
		/*background-color: red;*/
		width: calc(100% - 40px);
		/*height: 200px;*/
		padding: 0px 0px;
	}
	.downloadsection { /* Download section */
		padding: 20px 0px;
		width: 100%;
		float: left;
		clear: left;
		/*background-color: rgba(0,255,255,0.1);*/
		font-size: 20px;
		font-weight: bold;
	}
	.downloadios { /* Download section */
		float: left;
		clear: left;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	.downloadmac { /* Download section */
		float: left;
		clear: left;
		width: 100%;
		margin: 12px 0px;
		padding: 0px;
	}
}
