/**
* Debug colors (change all these to rgba(0,0,0,0) to toggle off the colors)
* - Note: Use multi-cursor to toggle these on and off
*/
:root {
    --debug-bg-1: rgba(220,20,60,0); /*Crimson;*/
    --debug-bg-2: rgba(255,140,0,0); /*DarkOrange;*/
    --debug-bg-3: rgba(255,20,147,0); /*DeepPink;*/
    --debug-bg-4: rgba(30,144,255,0); /*DodgerBlue;*/
    --debug-bg-5: rgba(178,34,34,0); /*FireBrick;*/
    --debug-bg-6: rgba(34,139,34,0); /*ForestGreen;*/
    --debug-bg-7: rgba(255,0,255,0); /*Fuchsia;*/
    --debug-bg-8: rgba(102,51,153,0); /*RebeccaPurple;*/
    --debug-bg-9: rgba(255,105,180,0); /*HotPink;*/
    --debug-bg-10: rgba(205,92,92,0); /*IndianRed;*/
    --debug-bg-11: rgba(50,205,50,0); /*LimeGreen;*/
    --debug-bg-12: rgba(255,0,255,0); /*Magenta;*/
    --debug-bg-13: rgba(0,0,205,0); /*MediumBlue;*/
    --debug-bg-14: rgba(255,69,0,0); /*OrangeRed;*/
    --debug-bg-15: rgba(218,112,214,0); /*Orchid;*/
    --debug-bg-16: rgba(128,0,128,0); /*Purple;*/
    --debug-bg-17: rgba(255,0,0,0); /*Red;*/
    --debug-bg-18: rgba(65,105,225,0); /*RoyalBlue;*/
    --debug-bg-19: rgba(139,69,19,0); /*SaddleBrown;*/
    --debug-bg-20: rgba(46,139,87,0); /*SeaGreen;*/
    --debug-bg-21: rgba(160,82,45,0); /*Sienna;*/
    --debug-bg-22: rgba(135,206,235,0); /*SkyBlue;*/
    --debug-bg-23: rgba(0,255,127,0); /*SpringGreen;*/
    --debug-bg-24: rgba(70,130,180,0); /*SteelBlue;*/
    --debug-bg-25: rgba(255,99,71,0); /*Tomato;*/
    --debug-bg-26: rgba(64,224,208,0); /*Turquoise;*/
    --debug-bg-27: rgba(238,130,238,0); /*Violet;*/
    --debug-bg-28: rgba(46,139,87,0); /*SeaGreen;*/
    --debug-bg-29: rgba(154,205,50,0); /*YellowGreen;*/
    --debug-bg-30: rgba(148,0,211,0); /*DarkViolet;*/
}