@import "blog_item.css";
@import "blog_paginator.css";
/**
 * Blog-grid Fix: ⚠️️ Rename to blog_grid.css 👈
 * - Fix: consider adding:  min-height: 680px; or else elements might get too squeezed
 */
.page#blog {
	background-color: var(--debug-color-1);
	padding: 0px 0px; /* top and bottom padding are 0px */
	height: auto;
}
/* Page title */
.page#blog h1 {
	background-color: var(--debug-bg-15);
	width: 100%;
	height: auto;
	/* Styling */
	text-align: center;
	font: var(--text-xxl-bold); /* Use CSS variable for font family */
    color: var(--primary-low); /* Use CSS variable for title color */
}
/**
 * Hide mobile paginator Fix: maybe not anymore? or keep?
 */
.bottom_paginator_container {
	display: none;
}
/**
 * Blog grid container
 */
.blog_grid_container {
	background-color: var(--debug-bg-16);
	height: auto;
	width: 100%;
	/* GridElement */
	display: grid;
	grid-template-columns: repeat(3, 300px); /* Number of items per page is set in _config */
	grid-template-rows: auto; /* Scales all row items to the heighest needed height */ /*grid-template-rows: repeat(2, 200px);*/ /*align-content: space-around;*/
	justify-content: center;
	grid-gap: 24px 12px; /* Represents the horizontal and vertical gap between grid columns */
	padding: 0px 0px 24px 0px; /* Represents padding for the top and bottom of the element */
}