/**
 * Dummy blog paginator
 */
.blog_paginator {
	background-color: var(--debug-bg-30);
	width: 100%;
	padding: 24px 0;/*top and bottom, left and right*/
	height: auto;
	margin: auto;
	/* Styling */
	text-align: center; /* We could also use flex centering instead of this */
	font: var(--text-xs);
	line-height: 1.2;
	color: var(--primary-high);
}
/**
 * Prev-btn
 */
a.prev {
	text-decoration: none;
	color: var(--accent-color);
}
/**
 * Next-btn
 */
a.next {
	text-decoration: none;
	color: var(--accent-color);
	
}
a.prev:hover {
	text-decoration: underline;
	color: var(--primary-low);
}
a.next:hover {
	text-decoration: underline;
	color: var(--primary-low);
}
