/**
 * Blog grid Item
 * - Fix: rename to blog_grid_item and blog_grid_paginator
 */
.blog_grid_item {
    height: auto;
	overflow: hidden;
	padding: 24px;
	/*FlexBox*/
	display: flex;
	flex-direction: column;
	/* Styling */
	background-color: var(--clear-color);
	border: var(--border-style);
	border-radius: 15px;
}
/**
 * Makes the entire grid item press-able
 */
a.blog_grid_item {
	text-decoration: none; /* Removes underline on elements */
}
.blog_grid_item:hover .link {
	text-decoration: underline; /* Adds underline on elements */
	color: var(--primary);
}
/**
 * Date text
 */
.blog_grid_item_date {
	padding: 4px 0;
	/*Styling*/
	text-align: left;
	font: var(--text-xs);
	color: var(--primary-high);
}
/**
 * Title text
 */
.blog_grid_item_title {
	padding: 6px 0;
	/* Styling */
	text-align: left;
	font: var(--text-xs-bold);
	line-height: 1.2;
	color: var(--primary-low);
}
/**
 * Text
 */
.blog_grid_item_text {
	padding: 12px 0; /* Represents top and bottom padding */
	/* Styling */
	flex-grow: 1; /* Makes the read-more item pinned to the bottom */
	text-align: left;
	font: var(--text-xs);
	color: var(--primary-medium);
}
/**
 * Read more link
 */
.blog_grid_item .link {
	padding: 6px 0; /* Represents top and bottom padding */
	/* Styling */
	text-decoration: none;
	font: var(--text-xs);
	color: var(--accent-color);
}