/**
 * Question text
 * - Note: revert to using overflow etc if responsive fails, also set li to block and overflow auto etc overflow: auto; overflow-y: hidden;
 */
 ul.faqs li .top { /*.faq_question */
	background-color: var(--debug-bg-26);
	width: 100%;
	height: 100%;
	padding: 24px 0;
	padding-left: 24px;
	padding-right: 24px;
	/* FlexBox */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/**
 * Question text
 */
ul.faqs li .top .left { /* .faq_question .faq_text */
	background-color: var(--debug-bg-24);
	width: 100%;
	height: 100%;
	/* Styling */
	font: var(--text-md);
	color: var(--primary-low);
	transition: var(--default-anim);
	text-decoration: none;
	margin-right: 12px;
}
ul.faqs li .top:hover .left {
	color: var(--primary);
	font: var(--text-md);
	transition: var(--default-anim);
}
/**
 * Disclosure icon
 */
ul.faqs li .top .right {
	background-color: var(--debug-bg-25);
	width: 24px;
	height: 100%;
	border-radius: 12px;
}
/**
 * Disclosure icon svg
 */
ul.faqs li .top .right .icon {
	width: 100%;
	/* FlexBox */
	display: flex;
	justify-content: center;
	/* Styling */
	opacity: 0.8;
	filter: var(--primary-filter);
}
/**
 * Top expanded
 */
ul.faqs li.expand:target .top {
	padding-bottom: 0px; /* We want the bottom to be close to the top when expanded */
}
ul.faqs li.expand:target .top .left {
	color: var(--primary);
	font: var(--text-md);
}
/**
 * Disclosure btns
 */
ul.faqs li .top .right .minus {
	display: none; /* Hide when inactive */
}
/**
 * Disclosure plus-btn - Expanded
 */
ul.faqs li.expand:target .top .right .plus {
	display: none; /*Hide when active*/
}
/**
 * Disclosure minus-btn - Expanded
 */
ul.faqs li.expand:target .top .right .minus {
	display: block; /* Show when active */
}
