/**
 * Bottom (inactive)
 * fix: ⚠️️ make the .bottom more unique. .bottom_faq_text ?
 */
 ul.faqs li .bottom {
	background-color: var(--debug-bg-22);
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-right: 24px;
	display: none; /* Default is hidden */
	/* Styling */
	font: var(--text-xs);
	color: var(--primary-high); /* We can't use opacity because issue with parent etc */
	line-height: 1.6;
}
/**
 * Bottom (active)
 * - Note: The active state of the list item
 * - Note: expand:target means active
 * - Note: expand:target is set when link is clicked and url js call is made #q2 etc
 */
 ul.faqs li.expand:target .bottom {
	background-color: var(--debug-bg-20);
	 display: block; /* Show when active */
	 height: auto;
}
/**
 * Link
 */
ul.faqs li .bottom a {
	text-decoration: underline;
	color: var(--accent-color);
}
/**
 * Link - hover
 */
ul.faqs li .bottom a:hover {
	color: var(--primary);
	text-decoration: underline;
}
