/**
 * Item
 * - Note: was using overflow: auto; and display: block;
 * - Fix: ⚠️️ Split up this file
 */
ul.faqs li {
	background-color: var(--debug-bg-13);
	width: 100%;
	height: 100%;
	padding: 0 0px;
	/* Styling */
	border-left: var(--border-style);
	border-right: var(--border-style);
	border-top: var(--border-style);
	/*drop top for first and drop bottom for last, see compare grid or support page for code*/
}
ul.faqs li:first-child  {
	border-bottom: none;
}
ul.faqs li:last-child  {
	border-bottom: var(--border-style);
}
/**
 * Top item
 */
ul.faqs li:first-child {
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
}
/**
 * Last item
 */
ul.faqs li:last-child {
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
}
/**
 * Expanded
 * - Note: When the url targets with #id this style is applied
 */
ul.faqs li.expand:target { /* Fix: ⚠️️ what is expand? */
	background-color: var(--debug-bg-4);
}
ul.faqs li.expand a { /* ⚠️️ Remove forced underline from header text */
	text-decoration: none;
}
