/**
 * Bottom left (first column)
 */
.table_column:first-child .row_item:last-child {
	border-bottom-left-radius: 15px 15px;
	border-bottom: 1px solid var(--primary-higher);/* Don't compress these, will look wrong etc */
	/*Styling*/
	background-color: var(--grid-primary-bg);
	/*text*/
	font: var(--text-xs);
	color: var(--primary);
}
/**
 * Bottom row (all columns)
 */
.row_item:last-child {
	background-color: var(--debug-bg-19);
	height: 64px;
	width: 100%;
	/* border */
	border-bottom: 1px solid var(--primary-higher);
	border-top: 1px solid var(--primary-higher);
	/*Text*/
	color: var(--primary-low);
}
/**
 * Every other (Checker look and feel)
 */
.table_column:nth-child(2n) .row_item:last-child {
	background-color: var(--grid-secondary-bg);
}
/**
 * Bottom right (last column)
 */
.table_column:last-child .row_item:last-child {
	border-bottom-right-radius: 15px 15px; /*Roundness*/
	border-bottom: 1px solid var(--primary-higher); /*border*/
}
