/**
 * Features itm / top left (first column)
 */
.table_column:first-child .row_item:first-child {
	background-color: var(--grid-primary-bg); 
	border-top-left-radius: 15px 15px;
	border-top: var(--border-style);
	/*text*/
	text-decoration: none;
	font: var(--text-md-bold);
	color: var(--primary);
}
/**
 * Features value item / top items
 */
.row_item:first-child { /* Top row */
	background-color: var(--debug-bg-17); /*debug*/
	height: 64px;
	width: 100%;
	border-top: var(--border-style);
	/* Text */
	text-decoration: none; /* Add this back when making it a link */
	font: var(--text-xs);
	color: var(--primary-low);
}
/**
 * Row item link
 */
.row_item a {
	color: var(--primary);
	text-decoration: none;
}
.row_item a:hover {
	color: var(--accent-color); 
	text-decoration: underline;
}
.table_column:nth-child(2n) .row_item:first-child {
	background-color: var(--debug-bg-12);/* debug */
}
/**
 * Top right
 */
.table_column:last-child .row_item:first-child {
	border-top-right-radius: 15px 15px;
	border-top: var(--border-style);
}
