html {/* We keep this here because we need it to come after responsive styles are added */
   margin: auto; /* Centers things */
	background-color: black;
}
body {
	color: white; /* black */
	font-family: 'Helvetica', 'Arial', sans-serif; /*font-family: 'Helvetica', sans-serif;*/
	margin: auto; /* Centers things */
   max-width: 960px;
}
