/*Download*/
/*Download container*/
#download_container {
	display: flex;
	flex-direction: row;
	padding: 24px;
	padding-top: 12px;
	padding-bottom: 0px;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
}
.download_item {
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	padding-top: 24px;
	padding-bottom: 24px;
	margin: 12px;
	width: 280px;
	text-align: center;
	border-radius: 20px;
	border-style: solid;
	border: 1px solid rgba(255, 255, 255, .1);
	text-decoration: none;
	color: white;
}
.download_item#ios {}
.download_item#macos {}
