<!-- ✨ Top page ✨ -->
<!-- Fix: more descriptive class names for the div elements, such as top-page, top-header, top-header-title, top-header-text, download-container, download-button, download-button-icon, download-button-text, and download-text,   -->
<!-- Deprecate this -->
<div class="page" id="top">
	<!-- Fix: Use em for h1, 👉 and pull from yml data 👈 -->
	<h2>{{ site.data.page.top.header1 }}</h2>
	<h2>{{ site.data.page.top.header2 }}</h2>
	<h1>{{ site.data.page.top.header3 }}</h1>
</div><!-- End of top page -->
