<!--  Blog paginator (Used to step through blog_grids ) -->
<div class="blog_paginator"><!-- Previouse / Next -->
   <div class="page_indicator"> <!-- 'Page: 1 of 12'  -->
      <span class="page_seperator">Page: </span>
      <span class="current_page">{{ paginator.page }}</span> <!-- Current page -->
      <span class="page_seperator">of</span>
      <span class="total_pages">{{ paginator.total_pages }}</span> <!-- total pages -->
   </div>
   <div class="page_navigator">
      {% if paginator.previous_page %} <!-- If paginator has a prev page, make a link -->
         <a href="{{ paginator.previous_page_path }}" class="prev">
            Previous
         </a>
      {% else %} <!-- If not, make a non-link -->
         <span class="prev">Previous</span>
      {% endif %}
      <span class="page_seperator"> / </span> <!-- Make a seperator element -->
      {% if paginator.next_page %} <!-- If paginator has a next page, make a link -->
         <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}  <!-- If not, make a non-link -->
         <span class="next">Next</span>
      {% endif %}
   </div>
</div>