/*Features*/
#features {}

#features #feature-container {
   display: flex;/*flex align*/
   flex-wrap: wrap;
   width: auto;
   height: auto;/*grow dynamically*/
}
#features #feature-container .feature-box {
	box-sizing: border-box; /*border stays within size*/
   width: 320px;
	padding-right: 0px;
   height: auto;
}
#features #feature-container .feature-box .icon {
	width: 100px;
   height: 100px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
   filter: invert(38%) sepia(96%) saturate(6512%) hue-rotate(249deg) brightness(100%) contrast(106%); /*ascent color 6236FF*/
}
#features #feature-container .feature-box h3 {
   width: 100%;
   font-size: 30px;
	padding-left: 40px;
   box-sizing: border-box;
}
#features #feature-container .feature-box p {
   width: 80%;
   font-size: 18px;
	padding-left: 40px;
	padding-right: 0px;
	padding-top: 20px;
   padding-bottom: 40px;
	box-sizing: border-box;
}
