/*Top*/
#top {
  padding-top: 80px;
  padding-bottom: 40px;
}
/*Top - slogan*/
#top h1#slogan {
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 60px;
  line-height: 72px;
  width: auto;
  height: auto;
  box-sizing: border-box;
}
#top h1#slogan span {
	color: #6236FF; /*ascent color 6236FF*/
}
/*Top - download*/
#top #download-container {
   width: auto;
   height: 80px;
	padding-left: 40px;
   padding-right: 40px;
}
#top #download-container #download-button {
   float: left;
   clear: none;
   display: flex; /*center ver and hor*/
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: #E0E0DD; /* primary font color: #E0E0DD */
   width: 328px;
   height: 80px;
	border-radius: 40px;
	box-sizing: border-box; /*border stays within size*/
	border: 2px solid #6236FF;/*ascent color 6236FF*/
   text-decoration: none;
}
#top #download-container #version-tag {
   float: left;
   clear: none;
   display: flex; /*center ver and hor*/
   justify-content: center;
   align-items: center;
   font-size: 30px;
   width: auto;
   height: 80px;
   padding: 0px;
   padding-left: 40px;
	padding-top: 40px;
   padding-bottom: 40px;
	box-sizing: border-box;
}
