/**
 * Sub-Category for faqs (compoent showing all support types)
 */
.faq_type {
	background-color: var(--debug-bg-4);
	width: 100%;
	height: auto;
	margin: auto;
	padding: 0px 0 24px; /* Represents top, left, and bottom padding */
	padding-top: 24px;
	/* Styling */
	font: var(--text-xs);
	color: var(--primary-medium);
	text-align: center;
}
/**
 * Link
 */
.faq_type a {
	color: var(--accent-color);
	text-decoration: underline;
}
.faq_type a:hover {
	color: var(--primary-low);
	text-decoration: underline;
}
