@media screen and (max-width: 600px) {
	header {
		max-width: 980px;/*? ⚠️️*/
		width: auto;
	}
	header #logo {
		width: 100%;
		display: flex;
		align-items: center;/*vertical*/
		/*background-color: red;*/
		text-align: center;
		float: none;
		clear: none;

	}
	header #logocontainer {
		width: 100px;
		height: 100%;
		/*background-color: lightgreen;*/
	}
	header #logoimage {
		width: 100px;
		height: 100px;
		padding: 0px 40px;
		/*background-color: lightblue;*/
		/*display: block;
		margin: auto;*/
	}
	header #logotext {
		padding: 0px;
		width: calc(100% - 200px);
		/*background-color: pink;*/
		/*text-align: center;*/
	}
	header nav {
		display: none;
		visibility: hidden;
	}
}
