/**
 * Container for the price toggle
 */
.price_toggle_container {
	background-color:var(--debug-bg-10);/*debug*/
	width: 100%;
	padding: 36px 0 24px; /* top padding and bottom padding */
	/*Flex*/
	display: flex;
	align-items: center;
	justify-content: center;
}
/**
 * Price toggle - the background color of the toggle
 * Fix: rename to price_toggle_item / graphic / background?
 */
.price_toggle {
	background-color: var(--clear-color);
	border-radius: 24px;
	width: 200px;
	height: 48px;
	/*Flex*/
	display: flex;
	flex-direction: row;
	/* This is a hack to get border to be inset, its also possible to add an element background and make it relative, but this is easier */
	box-shadow: 0px 0px 0px var(--border-thickness) var(--border-color) inset; /* This draws bellow */
	/* outline: 3px solid deeppink;*/ /* This draws above all elements */
	/* outline-offset: -3px; */ /* This draws above all elements */
}
/**
 * Thumb - default style
 */
a.switch_thumb {
	width: 100px;
	height: 48px;
	border-radius: 24px;
	/* FlexBox */
	display: flex;
	justify-content: center;
	align-items: center;
	/* Styling */
	color: var(--primary-lower);
	background-color: var(--accent-color);
	border: 3px solid var(--accent-color);
	text-decoration: none;
}
a.switch_thumb:hover {
	text-decoration: underline;
	color: var(--primary);
}
/**
 * Off button - default state (on-state)
 */
.switch_thumb#off { 
	border-style: none;
	background-color: var(--clear-color);
	color: var(--primary-medium);
}
/*Off hover*/
.switch_thumb#off:hover { 
	color: var(--primary-low);
}
/**
 * On button - target state (off-state)
 */
#price_monthly:target .switch_thumb#on {
	border-style: none;
	color: var(--primary-high);
	background-color: var(--clear-color); /* clear */
}
/**
 * Off button - target state (off-state)
 */
#price_monthly:target .switch_thumb#off {
	color: var(--primary);
	background-color: var(--accent-color);
	border-style: solid;
}
/**
 * When in default state, hide monthly card
 */
.price_item#Monthly {
	display: none;
}
/**
 * Monthly card target state (off-state)
 */
#price_monthly:target .price_item#Monthly {
	display: flex;
}
/**
 * Yearly card target state (off-state)
 */
#price_monthly:target .price_item#Yearly {
	display: none;
}
