@import "theme/theme.css";
@import "page.css";
@import "element/context.css";
/**
 * Default variables for the html
 */
html {
   background-color: var(--secondary); /* Use CSS variable for body background color */ 
   font-family: var(--font-family-default); /* Use CSS variable for font family */
   margin: auto; /* Centers things */
}
/**
 * Body
 */
body {
   max-width: 1440px; /* Maximum width for non-mobile devices */
   min-width: 1090px;/* Minimum width for non-mobile devices */
	/* Fix ⚠️️ Add min width */
   padding: 0 var(--default-page-padding);
   margin: auto; /* Centers things */
}
