/**
 * Page - applies to all pages
 */
.page {
	height: auto; /* size based on content inside */
	padding-top: var(--default-page-padding-top);
}
/**
 * Title text of each page on the front
 */
.header_title {
	background-color: var(--debug-bg-2);
	/* Styling */
	text-align: center;
	font: var(--text-xxl-bold); /* Use CSS variable for font family */
    color: var(--primary-low); /* Use CSS variable for title color */
}
/**
 * not emphazized
 */
.header_title :not(em) {
	background: var(--primary-low);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/**
 * emphazized
 */
.header_title em {
	background: var(--header-hightlight-gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
}
/**
 * Sub text of each page
 */
.header_text {
	background-color: var(--debug-bg-5);
	padding-top: var(--default-header-text-padding-top-bottom);
	padding-left: var(--default-header-text-padding-left-rigth);
	padding-right: var(--default-header-text-padding-left-rigth);
	/* Styling */
	text-align: center;
	line-height: 1.6;
	font: var(--text-sm); /* Use CSS variable for font family */
    color: var(--primary-medium); /* Use CSS variable for subtitle color */
}
/**
 * Emphasized text
 */
.header_text em {
	color: var(--primary-low); /* Use CSS variable for emphasized color */
}
/**
 * Link
 */
.header_text a, .header_text a:visited {
	color: var(--accent-color); /* Use CSS variable for link color */
}
.header_text a:hover {
	color: var(--primary); /* Use CSS variable for hover color */
}