<!--Slogan-->
<div class="slogan"> 
    <h1>Self-Sovereign Authentication and Password Management</h1> 
    <!-- Fix: ⚠️️ Move this to markdown -->
    <p>Syncs your credentials automatically in the background over local connectivity. Never worry about online <a href="https://www.theverge.com/2022/12/22/23523322/lastpass-data-breach-cloud-encrypted-password-vault-hackers">hacks and leaks</a> again.</p>
    <!-- See how it works -->
    <div class="button_container">
        <a href="https://vimeo.com/1014916070" class="video_button">
            Watch intro film <!-- Indtroduction film, See how it works   -->
        </a>
        <a href="https://sentry.co/" class="app_store_button">
            Available soon <!-- Download today!, Download now  -->
        </a>
    </div>
</div>