<!-- Download container used on the front page -->
<div id="download_container">
    <a href="{{ site.data.general.download-universal }}" class="download_button">
        <div class="download_button_icon"><!-- Icon in the download button -->
            <img src="assets/svg/arrow-down-circle.svg" class="btn_icon"> <!-- svg -->
        </div>
        <div class="download_button_text"><!-- Text in the download button -->
            Download {{ site.data.general.version-universal }} <!-- Pulls 1.0.7 etc -->
        </div>
    </a>
    <!-- Add some text under the download btn here -->
    <div class="download_text">
        (Publicly available on TestFlight)
    </div>
</div>