@import "one.css";
@import "two.css";
@import "three.css";
@import "four.css";
/**
 * Contains style that is used in every page
 * fix: ⚠️️ rename to .pageheader?
 */
.header { /* This is the header for each page, except first page, first page is in header.css*/
	/*width: 100%;*/
	width: 980px;
	margin: auto;
	height: 100px;
	/*background-color: rgba(0,255,0,0.1);*/
	font-family: 'Montserrat', sans-serif;
	font-size: 44px;
	font-weight: bold;
	/*center start*/
	display: flex;
   justify-content: center;
   align-items: center;
	/*center end*/
}
.subheader {
	width: 70%;
	/*background-color: rgba(0,255,255,0.1);*/
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: normal;
	padding: 20px 0px;
	/* Center start */
	display: flex;
   justify-content: center;
   align-items: center;
	/* Center end */
}
.pagelink {
	/*background-color: rgba(255,255,0,0.1);*/
	height: 100px;
	width: 100%;
	color: #000000;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	/* Aligns vertically and horizontally start */
	display: flex;
   justify-content: center;
   align-items: center;
	/* Aligns vertically and horizontally end */
	/*line-height: 162px;*/
}
.pagelink a {
	color: #000000;
	text-decoration: underline;
}
.pagelink a:hover {
	text-decoration: underline;
}
.downloadsection { /* Download section */
	padding: 20px 0px;
	width: 100%;
	float: left;
	clear: left;
	/*background-color: rgba(0,255,255,0.1);*/
	font-size: 20px;
	font-weight: bold;
}
/* UI */
.downloadios { /* we reuse these in the download page */
	border-radius: 30px;
	background-color: #F35446;
	/*box-shadow: 0px 0px 60 20 black;*/
	box-shadow: 0px 0px 6px 2px rgba(136, 136, 136, 0.4);
	width: calc(50% - 10px);
	margin-right: 10px;
	height: 60px;
	float: left;
	clear: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	/*center align vertically and horizontally - start*/
	display: flex;
   justify-content: center;
   align-items: center;
	/*center align vertically and horizontally - end*/
}
.downloadmac {
	border-radius: 30px;
	background-color: white;
	box-shadow: 0px 0px 6px 2px rgba(136, 136, 136, 0.2);
	width: calc(50% - 10px);
	margin-left: 10px;
	height: 60px;
	float: right;
	clear: none;
	line-height: 60px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	/*center align vertically and horizontally - start*/
	display: flex;
   justify-content: center;
   align-items: center;
	/*center align vertically and horizontally - end*/
}
