/**
 * Header page
 */
.header #nav {
	background-color: var(--debug-bg-24);
	width: 0%; /* ⚠️️ For some reason this has to be zero, or the flex grow behaves strange */
	/*FlexBox*/
	display: flex;
	flex-direction: row;
	column-gap: 12px;
	justify-content: flex-end; /* ⚠️️ Seems like there is some padding added. but hard to fix */
	align-items: center; /* Center vertically */
}
/**
 * Hidden for desktop
 */
.header #nav .nav_item#mobile_menu {
	display: none;
}
/**
 * Navigation item text
 */
.header #nav a.nav_item {
	/* Text styling */
	font: var(--text-sm);
	text-decoration: none;
	color: var(--primary-medium);
	transition: var(--default-anim);/* Adds anim */
}
/**
 * When a page is in focus -> Nav item text is highlighted
 */
.header #nav .nav_item#active {
	text-decoration: underline;
	color: var(--primary);
}
/**
 * On hover
 */
.header #nav .nav_item:hover {
	color: var(--primary-low);
	transition: var(--default-anim);/* Adds anim */
}
