/**
 * Content paragraph / text
 */
main.blogpost .page#post p {
	padding: 12px 24px;
	/* Styling */
	background-color: var(--debug-bg-7);
	font: var(--text-sm); /* font size and family */
	color: var(--primary-medium);
	text-align: left;
	line-height: 1.6;
}

/**
 * Post link
 * - Fix: ⚠️️ Add hover effect?
 */
main.blogpost .page#post a {
	background-color: var(--debug-bg-8);
	/* Styling */
	text-decoration: underline;
	color: var(--primary-low); 
}
/**
 * Image
 */
main.blogpost .page#post img {
	margin: 0;
	width: 100%; 
	height: auto;
	margin: 12px 0;
	/* Styling */
	background-color: var(--debug-bg-9);
	display: block;
}
