@import "blog_post_header.css";
@import "blog_post_content.css";
@import "blog_post_list.css";
@import "blog_post_navigator.css";
/**
 * Blog-post
 * Fix we could add: min-height: 680px;*/ /* Or else elements might get too squeezed
 */
.page#post {
	background-color: var(--debyg-bg-14); /* Debug */
	margin: auto;  /* for some reason important to get center align working */
	padding: 0 10%;
}
