---
layout: wrapper
---
<main class="blogpost">	<!-- Adds ability to target blogpost page in css -->
    {% include component/header.html %} <!-- we add header from includes -->
	{% include blogpost/blog_post_header.html %} <!-- Blog post header  -->
    <!-- Container -->
	<div class="container"> <!-- Fix: ⚠️️ Rename to something specific -->
		{{ content }} <!-- Adds the markdown content -->
		{% include blogpost/blog_post_footer.html %} <!-- Blog post footer -->
	</div>
	{% include component/footer.html id="footer" %} <!-- Adds the footer -->
</main>
