---
layout: wrapper
---
<!-- ⚠️️ Fix: We can probably derive the id etc from dynamic values, it's uppercase atm -->
<main class="support">	<!-- Adds ability to target about page in css -->
	<!-- Include the header.html file as a partial in the support.html file -->
	{% include component/header.html %} 
	<!-- ⚠️️ Fix: We can probably derive the id etc from dynamic values -->
	<div class="page" id="support">
		<!-- Main content goes here -->
		<!-- fix: ⚠️️ move this to markdown? -->
        <div class="slogan"> 
            <h1>Frequently asked questions and answers</h1> <!-- Common questions and answers -->
        </div>
		{% include support/support_list.html %}<!-- Support page list (vertical)  -->
	</div> <!-- End of faq_container  -->
	<div class="contextual_text">
		<!-- Output the value of the support key in the context.yml data file -->
		{{ site.data.context.support }}
	</div>
	<!-- Include the footer.html file as a partial in the support.html file and assign the id attribute of the included file to "footer" -->
	{% include component/footer.html id="footer" %} 
</main>