footer {
	width: 100%;
	height: 280px;
	background-color: lightyellow;
}
footer .footerbox {
	width: 245px;
	height: 100%;
	float: left;
	clear: none;
}
/*Dummy colors*/
footer .footerbox#a {
	background-color: blue;
}
footer .footerbox#b {
	background-color: red;
}
footer .footerbox#c {
	background-color: yellow;
}
footer .footerbox#d {
	background-color: green;
}
