@import "nav.css";
/**
 * Site header
 */
header {
	height: 160px;
	width: 980px;
	/*width: 100%;*/
	margin: auto; /* for some reason important to get center align working */
	/*background-color: rgba(255,255,0,0.1);*/
}
header #logo {
	/*width: 240px;*/
	height: 100%;
	float: left;
	clear: none;
	display: inline-block;
	/*background-color: red;*/
}
header #logocontainer {
	width: 100px;
	height: 100%;
	float: left;
	clear: none;
	/*background-color: rgba(255,0,0,0.1);*/
	display: flex;
   justify-content: center;
   align-items: center;
}
header #logoimage {
	width: 100px;
	height: 100px;
	/*border-radius: 30px;*/
	/*background-color: black;*/
}
header #logotext {
	/*background-color: rgba(0,255,0,0.1);*/
	padding: 0px 20px;
	height: 100%;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	float: right;
	clear: none;
	display: flex;
   justify-content: center;
   align-items: center;
	/*;*/
}
