header nav { /* header minus logo */
	/*width: calc(100% - 240px);*/ /* subtracting the width of the logo */
	height: 100%;
	/*align: right;*/
	float: right;
	clear: none;
	/*background-color: rgba(0,0,255,0.1);*/
	display: inline-block;
}
header nav ul { /* All menu items*/
	float: right;
	clear: none;
	/*width: 300px;*/
	height: 100%;
	/*center start*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*center end*/
}
header nav ul li { /* Single menu items */
	/*background-color: lightgreen;*/
	width: 100px;
	height: 64px;
	padding: 0px 20px;
	float: left;
	clear: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	/*center start*/
	display: flex;
   justify-content: center;
   align-items: center;
	/*center end*/
}
header nav ul li:nth-of-type(1) {
	/*background-color: rgba(255,0,0,0.1);*/
}
header nav ul li:nth-of-type(2) {
	/*background-color: rgba(0,255,0,0.1);*/
}
header nav ul li:nth-of-type(3) {
	/*background-color: rgba(0,0,255,0.1);*/
}
header nav ul li a {
	color: #000000;
	text-decoration: none;
	font-size: 22px;
}
header nav ul li a:hover {
	text-decoration: underline;
}
