@import "slogan_button.css";
/**
 * Slogan container
 * - fix: ⚠️️ Rename to slogan container?
 * - fix: ⚠️️ Maybe rename to page-top.css or page-header.css ? or keep?
 */
.slogan {
    margin: 0 auto; /* Centers the div horizontally */
    padding-top: var(--default-vertical-padding-big); /* fix: ⚠️️ maybe adjust this to 20px?  */
    text-align: center; /* Centers the text inside the div */
    background-color: var(--debug-bg-15);
}
/**
 * Slogan header text
 */ 
.slogan h1 {
    background-color: var(--debug-bg-16);
    padding-left: var(--default-horizontal-padding-big);
    padding-right: var(--default-horizontal-padding-big);
    font: var(--font-primary-xxxxl);
}
/**
 * Slogan paragraph text
 */
.slogan p {
    max-width: 600px;
    margin: 0 auto; /*centers things horizontally*/
    padding-top: var(--default-vertical-padding);
    padding-bottom: var(--default-vertical-padding);
    color: var(--primary-medium);
    background-color: var(--debug-bg-17);
    text-align: center;
    font: var(--font-default-m-alt);
}
.slogan p a {
    color: var(--primary-low);
}