/**
 * Footer
 */
@media screen and (max-width: 600px) {
	/**
    * Container for footer items
    */
   .footer_item_container {
   		flex-direction: column;
		row-gap: 48px; /*Vertical spacing*/
   }
	/**
	 * Header text for each footer row item
	 */
	.footer_item h1 {
		/*Styling*/
		font-size: 32px; /*Custom*/
	}
	/**
    * A footer item (column for desktop, row for mobile)
    */
	.footer_item {
		width: 100%;
	}
	/**
    * Target about item
    */
	.footer_item#about {
		width: 100%;
	}
	.footer_item #text {
		font: var(--text-sm);
	}
	/**
    * Target content item
    */
	.footer_item#content {
		width: 100%;
	}
	/**
    * Target legal item
    */
	.footer_item#legal {
		width: 100%;
	}
	/**
    * Target newsletter item
    */
	.footer_item#newsletter {
		width: 100%;
	}
	/**
    * Newsletter submit button
    */
	.submit_button {
		height: 64px;
		width: 100%;
	}
	/**
    * Newsletter email textfield for input
    */
	.email_text {  
		height: 64px;
		width: 100%;
	}
	.footer_item #nav .nav_item {
		font: var(--text-lg);
	}
	/* container */
	.footer_item #nav { 
		row-gap: 16px;
	}
}