/**
 * Header page - responsive
 */
 @media screen and (max-width: 600px) {
    /**
     * Header page
     */
	 .header {
	 	  height: 120px;
	 }
	 /**
     * Company title text
     */
	 .header #title {
 	 	  font: var(--text-lg);
	 }
 }
 /**
  * Nav
  */
  @media screen and (max-width: 600px) {
 	 /**
     * Hidden for mobile
     */
 	 .header #nav .nav_item {
 	 	  display: none;
 	 }
 	 /**
     * Shown for mobile
     */
 	 .header #nav .nav_item#mobile_menu {
 	 	  display: flex;
      font: var(--text-lg);
      justify-content: flex-end;
      flex-direction: row;
      color: var(--primary-low);
 	 }
}