/*Footer page*/
#footer_page {}
#link_container {
	padding: 12px;
	box-sizing: border-box;
}
#link_container a {
	font-size: 18px;
	padding: 6px;
	padding-bottom: 24px;
	color: white;
	opacity: 0.7;
	text-decoration: none;
}
